body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  text-align: center;
  color: blueviolet;
  font-weight: bold;
  font-size: larger;
}

.main-table {
  display: flex;
  align-items: center;
  justify-content: right;
  border: 1px solid green;
  flex-direction: column;
  width: 80%;
}

.side-bar {
  display: inline-grid;
  align-items: center;
  justify-content: left;
  border: 1px solid green;
  flex-direction: row;
  background-color: lime;
  width: 20%;
}